[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
fontawesomefree = "*"
pillow = "*"
markdown2 = "*"
django-markdownx = {ref = "master", git = "git+https://github.com/neutronX/django-markdownx.git"}

[dev-packages]

[requires]
python_version = "3.11"
